<mat-card>
  <mat-card-header><h2>Register</h2></mat-card-header>
  <mat-card-content>
    @if (loadError()) {
      <div id="load-error">An error loading the form occurred.</div>
    }
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" type="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput id="password" type="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="confirm-password">Confirm Password</mat-label>
        <input matInput id="confirm-password" type="password" />
      </mat-form-field>

      <button matButton="elevated" [disabled]="registerForm.invalid">Register</button>
    </form>

    <div id="login-link">Already have an account? <a matButton routerLink="/login">Log in</a></div>
  </mat-card-content>
</mat-card>
