@use '../../styles/logins.scss' as logins;

:host {
  @include logins.login-card;

  #login-link {
    justify-self: center;
    padding-top: 1em;
  }

  #load-error {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
  }
}
